# Hugo
public/
resources/
.hugo_build.lock
.jupyterlite.doit.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
.deepseekgui-images/
.kun-canvas/
.kun-design/
.kun/
.obsidian/

_drafts/
tags
*.temp
*.lock
