<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta name="baidu-site-verification" content="1n8gVseD2X" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{page.title}}|{{site.author}}</title>
    <link rel="shortcut icon" href="lsm.ico">

    <link rel="stylesheet" type="text/css" href="{{ BASE_PATH }}/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="{{ BASE_PATH }}/assets/css/style.css">

    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
  </head>
  <body>
    <div id="container">

      <div id="main" role="main">

        <header>
        <nav>
          <span><a href="/" class="navigator" title="Go to homepage">HOME</a></span>
          <span><a href="{{ BASE_PATH }}/assets/include/categories.html" class="navigator" title="Category" >CATEGORIES</a></span>
          <span><a href="{{ BASE_PATH }}/assets/include/tags/tags.html" class="navigator" title="Tag Cloud" >TAGS</a></span>
          <span><a href="{{ BASE_PATH }}/assets/include/links/links.html" class="navigator" title="Link">LINK</a></span>
          <span><a href="{{ BASE_PATH }}/assets/include/about/about.html" class="navigator" title="About" >ABOUT</a></span>
          <span><a href="{{ BASE_PATH }}/assets/include/feed/feed.html" class="navigator" title="Subscribe by RSS" >RSS</a></span>
        </nav>
        <h1>{{ site.title }}</h1>
        <div id="description">{{ site.description }}</div>
        <div id="sidebar">
		<div id="weibo">
			<iframe width="100%" height="350" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&width=0&height=350&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=2695101071&verifier=40012d15&dpc=1"></iframe>
			<p><a href="http://weibo.com/2695101071/profile?rightmod=1&wvr=5&mod=personinfo">我的微博</a></p>
		</div>
		<div id="xiami">
			<embed src="http://www.xiami.com/widget/819127_1003989,183917,1769004673,1769257163,3445150,1769471863,373817,1769535253,385472,1771512762,381768,3438978,8231,_235_346_FF8719_494949_0/multiPlayer.swf" type="application/x-shockwave-flash" width="235" height="346" wmode="opaque"></embed>
			<p><a href="http://www.xiami.com/u/819127?spm=a1z1s.6928797.1561534497.1.hHqtjH">我的虾米</a></p>
		</div>
		<div id="douban">
			 <script type="text/javascript" src="http://www.douban.com/service/badge/iDonCorleone/?selection=latest&amp;picsize=small&amp;hideself=on&amp;show=collection&amp;n=6&amp;hidelogo=on&amp;cat=movie%7Cbook%7Cmusic&amp;columns=3"></script>
			<p><a href="http://www.douban.com/people/iDonCorleone/">我的豆瓣</a></p>
		</div>
      </div>
        </header>

        <article class="content">
	  <div class="row-fluid">
              {{ content }}
	</div>
        </article>

     </div>

    <footer>
        <p><small>Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a> | Copyright 2013.11.11 - {{site.time | date:"%Y.%m.%d"}} by <a href="{{ BASE_PATH }}/assets/include/about/about.html">Mr.Think</a> | <span class="label label-info">{{site.time | date:"%Y-%m-%d %H:%M:%S %Z"}}</span></small></p>
    </footer>
   </div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-46808699-1', 'alemontree.com');
	  ga('send', 'pageview');
	
	</script>
</body>
</html>
